<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>article</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>

    <div class="content">

      <h1 class="title title-h3">What Mary Oliver's Critics Don't Understand</h1>
      <h3 class="title title-h2">For America's most beloved poet, paying attention to nature is a springboard to the sacred.</h3>
      <p class="title title-p" style="color:#5C5C5C;">By <a href="#">Ruth Franklin</a></p>
      <hr>

      <div class="left-content">
        <div class="image-content">
          <img src="static/img.jpg" alt="">
          <p class="img-title">Oliver uses nature as a springboard to the sacred -- the beating heart of her work.</p>
          <small>Illustration by Deanna Halsall</small>
        </div>
        <div class="main-content">
          <p class="first-p-content">"Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "<a href="#">The Anthologist</a>," scrawls in the margins of Oliver's "<a href="#">New and selected poems, Volume One</a>." A struggling poet, Chowder is suffering from a severe case of writer's block. His girlfriend, with whom he's lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones -- Louise Bogan, Theodore Roethke, Sara Teasdale -- before discovering Oliver. In her work, he finds consolation: "I immediately felt more sure of what I was doing." Of her poems, he says, "They're very simple. And yet each has something."</p>
          <blockquote cite="http://">
            I don't know exactly what a prayer is. <br>
            I do know how to pay attention, how to fall down <br>
            into the grass, how to kneel down in the grass, <br>
            how to be idle and blessed, how to stroll through the fields, <br>
            which is what I have  been doing all day.
          </blockquote>
          <p>The cadences are almost Biblical. "Attention is the beginning of devotion," she urges elsewhere.</p>
          <p>This article appears in the print edition of the November 27, 2017, issue, with the headline "The Art of Paying Attention."</p>
        </div>
      </div>
      <div class="right-content">
        <h4 class="title-right-content">Most popular</h4>
        <ol>
          <p class="red-title">Letter from Washington</p>
          <li class="name-right-content">
            <a href="#">The Danger of President Pence</a>
            <p>By <a href="#">Jane Mayer</a></p>
          </li>
          <p class="red-title">Our Columnists</p>
          <li class="name-right-content">
            <a href="#">No End in Sight to the Brexit Madness</a>
            <p>By <a href="#">John Cassidy</a></p>
          </li>
          <p class="red-title">Satire from The Borowitz Report</p>
          <li class="name-right-content">
            <a href="#">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a>
            <p>By <a href="#">Andy Borowitz</a></p>
          </li>
        </ol>
      </div>

      <div class="" style="clear:both">

      </div>

      <div class="bottom-content">
        <div class="bottom-left-content">
          <p class="red-title">Daily Cartoon</p>
          <a href="#" class="title-bottom-content">
            <h2>Daily Cartoon: Friday, November 24th</h2>
          </a>
          <h2 class="h2-bottom-content">Forgetting the garnish.</h2>
          <p class="author-name-bottom">By <a href="#">Liana Finck</a></p>
          <span class="span-bottom-content">Nov.24, 2017</span>
        </div>

        <div class="bottom-right-content">
          <p class="red-title">Elements</p>
          <a href="#" class="title-bottom-content">
            <h2>At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</h2>
          </a>
          <h2 class="h2-bottom-content">How long would it take a junior computer-science major to disrupt an election</h2>
          <p class="author-name-bottom">By <a href="#">Anna Wiener</a></p>
          <span class="span-bottom-content">Nov.24, 2017</span>
        </div>
      </div>
    </div>

    <div class="" style="clear: both;">

    </div>

    <div class="footer">
      <a href="#">
        <h4>Listen to the New Yorker Radio Hour</h4>
      </a>
      <a href="#" class="dot">&middot;</a>
      <a href="#">
        <h4>Buy the Cover</h4>
      </a>
      <a href="#" class="dot">&middot;</a>
      <a href="#">
        <h4>Play the Jigsaw Puzzle</h4>
      </a>
    </div>
  </body>
</html>
