<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask intro</title>
  </head>
  <body>
     <h1> heading1 </h1>
     <h2> heading 2 </h2>
     <h3> heading 3 </h3>
     lore
     <p>lore</p>
     <p> lore </p>
     <a href="https://www.facebook.com/" target="_blank"><"click vào em di"</a>
     <!-- <img src="https://pbs.twimg.com/media/CjrMrl6VEAIs9HH.jpg" alt = "https://kenh14cdn.com/QuickNewsK14/10422211/2015/03/img_201503232247545763.jpg"> -->
     <img src= "a/wolf.jpg" alt = "https://kenh14cdn.com/QuickNewsK14/10422211/2015/03/img_201503232247545763.jpg">
     <div class = "">
       hom nay troi ret, ảnh vectow thì co dãn tmai
     </div>
     <span>
       thẻ span cho phé các thẻ khác cùng dòng vs nó
     </span>
    <ul>
      thẻ giúp tạo ra unordered list, tất cả đều được coi giống nhau, o đánh số
    </ul>
    <li> gái hà nội </li>
    <li> gái sài gòn </li>
    <ol>
      <li> gái hà nội </li>
      <li> gái sài gòn </li>
    <!-- </ol>


     <div class =  "">
      ở div có thể cho các phần nhỏ như h1, h2,h3, giúp chia trang thành nhiều cục, di chuyển thuận tiện, là block, nằm ở đâu, cấm các thằng khác nằm cùng dòng
    <!-- </div> -->
  </body>
</html> --> -->
